*{
    font-family: 'Times New Roman', Times, serif;
}
body{
   
    margin: 0;
    width: 100vw;
    height: 100vh;
}
header{
    position: relative;
    
}
.logo{
    width: 87vw;
    margin-left: 13vw;
    background-color: whitesmoke;  
    height: 10vh;
    padding-left: 5vw;
    font-weight: 900;
}
.logo ul li {
    width: 30vw;
}
nav{
    height: 100vh;
    width: 17vw;
    background-color: rgb(74, 100, 186);
    margin-top: -10vh;
    color: whitesmoke;
}
nav ul li a{
    color: whitesmoke;
}
ul li{
    list-style: none;
    padding-right: 2vw;
    width: 17vw;
    margin-right: 4vw;
    line-height: 4vw;
}
ul li a{
    
    color: rgb(25, 24, 24);
}
ul li a:hover{
    text-decoration: none;
    color: black;
}
.container{
    margin-top: -9vh;
    padding-left: 72vw;
    position: absolute;
    left: 80vw;
}
/* =============================== Main =================================*/

main{
    width: 87vw;
    height: 90vh;
    display:  inline-block;
    margin-left: 13vw;
    margin-top: -95vh;
    position: relative;
}

table {
    height: 30vh;
    width: 60vw;
    margin-left: 15vw;
    position: absolute;
    top: 15vh;
}

table tr th{
    background-color: rgb(83, 122, 214);
    height: 5vh;
    width: 55vw;
    padding-left: 1vw;
    color: rgb(255, 255, 255);
}








/* ==================================================Thống kê=====================================================================*/
.one {
    background-color: rgb(45, 92, 192);
    width: 15vw;
    height: 20vh;
    position: absolute;
    left: 8vw;
    top: 15vh;
    color: whitesmoke;

}
.two {
    background-color: rgb(45, 92, 192);
    width: 15vw;
    height: 20vh;
    left: 28vw;
    position: absolute;
    top: 15vh;
    color: whitesmoke;

}
.three {
    background-color: rgb(45, 92, 192);
    width: 15vw;
    height: 20vh;
    position: absolute;
    left: 48vw;
    top: 15vh;
    color: whitesmoke;

}
.for {
    background-color: rgb(45, 92, 192);
    width: 15vw;
    height: 20vh;
    left: 68vw;
    position: absolute;
    top: 15vh;
    color: whitesmoke;

}



/* ================================================Quản Lý Danh Mục Thêm=======================================================================*/
#formquanlydanhmuc{
    width: 40vw;
    height: 25vh;
    background-color: rgb(77, 120, 214);
    position: absolute;
    top: 20vh;
    left: 25vw;
    line-height: 4vh;
    padding-top: 3vh;
    padding-left: 1.5vw;
    color: whitesmoke;
    border-radius: 0.5vw;
    font-weight: 900;
}
#formquanlydanhmuc input{
    border-radius: 0.5vw;
}
#formquanlydanhmuc button{
    width: 5vw;
    height: 5vh;
    border-radius: 0.5vw;
    margin-left: 15vw;
    margin-top: 8vh;
    background-color: rgb(43, 40, 40);
    color: whitesmoke;
    font-weight: 900;
}



/* =============================================Quản Lý Danh Mục Thuốc==========================================================================*/

table tr td button{
    position: absolute;
    top: 35vh;
    left: 15vw;
    width: 5vw;
    height: 5vh;
    border-radius: 0.5vw;
    background-color: rgb(76, 123, 195);
}
table tr td button:hover{
    background-color: rgb(33, 31, 31);
    
    display: block;
}
table tr td button a:hover{
    text-decoration: none;
}

.inline {
    display: inline-block;
    float: right;
    margin-top: -35px;
    margin-right: 50px;
    height: 45px;
  }

  input,
  button {
    height: 34px;
  }

  .pagination {
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    height: 45px;
  }

  .pagination a {
    font-weight: bold;
    font-size: 18px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid black;
  }

  .pagination a.active {
    background-color: pink;
  }

  .pagination a:hover:not(.active) {
    background-color: skyblue;
  }
  .image-gallery {
    text-align:center;
}
.image-gallery img {
    padding: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin: 20px;
}